<%= form_for [:admin, @client] do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :name, class: "bmd-label-floating" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary col-md-12" %>

  <div class="link">
    <%= link_to 'Back', admin_clients_path %>
  </div>
<% end %>
