<div class="col-md-2"></div>

<div class="col-md-8">
<div class="card card-profile">
  <div class="card-avatar">
     <%= image_tag "faces/marc.jpg" %> />
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= titleize(@client.name) %></h4>
    <p class="card-description">
      Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
    </p>
    <%= link_to "Edit", edit_admin_client_path(@client), class: "btn btn-primary btn-round" %>
    <%= link_to "Delete", admin_client_path(@client), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-round" %>
    <div class="link">
      <%= link_to 'Back', admin_clients_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
</div>
