<%= form_for [:admin, @project] do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :name, class: "bmd-label-floating" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :description, class: "bmd-label-floating" %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :client %>
        <%= f.collection_select :client_id, clients_list, :id, :name, {}, { class: "form-control" } %>
      </div>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary col-md-12" %>

  <div class="link">
    <%= link_to 'Back', admin_projects_path %>
  </div>
<% end %>
