<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-header card-header-tabs card-header-primary">
      <h4 class="card-title">Projects Listing</h4>
      <p class="card-category">List of all the Projects with its client present in the system</p>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead class="text-primary">
          <th>Name</th>
          <th>By</th>
          <th>Earnings</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td>
                <%= link_to titleize(project.name), admin_project_path(project), { rel: "tooltip", title: "View", class: "btn btn-primary btn-link btn-sm" } %>
              </td>
              <td>
                <%= link_to titleize(project.client.name), admin_client_path(project.client), { rel: "tooltip", title: "Profile", class: "btn btn-primary btn-link btn-sm" } %>
              </td>
              <td>
                <%= total_project_earning(project) %>
              </td>
              <td>
                <%= link_to edit_admin_project_path(project), { rel: "tooltip", title: "Edit Project", class: "btn btn-primary btn-link btn-sm" } do %>
                  <i class="material-icons">edit</i>
                <% end %>
              </td>
              <td>
                <%= link_to admin_project_path(project), { rel: "tooltip", title: "Delete Project", class: "btn btn-primary btn-link btn-sm" , method: :delete, data: { confirm: 'Are you sure?' } }  do %>
                  <i class="material-icons">delete</i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Project', new_admin_project_path, class: "btn btn-primary pull-right" %>
    </div>
  </div>
</div>
