<!DOCTYPE html>
<html>
  <head>
    <title>PMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8" />
  </head>

  <body>
    <div class="wrapper ">
      <%= render '/layouts/left_nav' if user_signed_in? %>
      <div class="main-panel">
        <%= render '/layouts/header' if user_signed_in? %>
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
